<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:name=".RockMapApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="RockMap"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".SafetyDisclosureActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".field.FieldActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".research.ResearchActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <service
            android:name=".field.TrackRecordingService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".PrivacySafetyActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".DataSourcesLicensesActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
    </application>
</manifest>
